# Dependencies
node_modules/

# Playwright
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/

# Entornos y secretos
.env
.env.*
!.env.example

# Logs
*.log
npm-debug.log*

# IDE / OS
.vscode/
.idea/
.DS_Store
Thumbs.db

# Build
dist/
build/